@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}

.sans-pro-caps {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.sans-pro-header {
  font-family: 'Source Sans Pro', sans-serif;
  color: gray;
  font-size: 2rem;
}

.report-img {
  width: 100%
}

.reports-view {
  background-color: white;
  padding: 20px 20px 0px 20px;
  text-align: center;
}

.reports-view-title {
  background-color: white;
  padding: 0px 20px ;
  text-align: left;
  text-transform: capitalize;
}

.reports-view-hr {
  border-bottom: 1px solid darkgray;
}

.reports-view-heading {
  margin: 0px;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}